name: Opam Pipeline

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and test (OCaml ${{ matrix.ocaml-version }}${{ matrix.os == 'macos-latest' && ' on macOS' || '' }})
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          # - macos-latest
        ocaml-version:
          - "5.2"
          - "5.3"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}
          dune-cache: true

      - name: Install system dependencies
        run: |
          if [ "${{ matrix.os }}" == "ubuntu-latest" ]; then
            sudo apt-get update
            sudo apt-get install -y libbrotli-dev libzstd-dev
          else
            brew install brotli zstd
          fi

      - name: Install locally
        env:
          EIO_BACKEND: ${{ matrix.os == 'ubuntu-latest' && 'posix' || 'select' }}
        run: |
          opam pin add . --with-test -y
